10Day-Email-Reply-Agent-in-n8n/Day-10_ Email Reply AI Agent - Email Aggregator.json
{
  "name": "Day-10: Email Reply AI Agent - Email Aggregator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "7bf1c9b4-1582-4863-bbe2-148631cbc4e5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "labelIds": [
            "UNREAD"
          ]
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "99186419-1ef8-4b21-8a78-7258028798e8",
      "name": "Gmail All Mails",
      "webhookId": "f4f64d2d-e4f5-40f1-9618-5e9c1f75baf1",
      "credentials": {
        "gmailOAuth2": {
          "id": "Focm9wSsYgcUAXfe",
          "name": "Day-10: Email Reply AI Agent - 2nd Account Email"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.threadId }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "14126214-4844-44d0-8416-648efd9eca4b",
      "name": "Gmail All Details",
      "webhookId": "9bda6e00-8c50-4431-84ac-91bf885ca6a5",
      "credentials": {
        "gmailOAuth2": {
          "id": "Focm9wSsYgcUAXfe",
          "name": "Day-10: Email Reply AI Agent - 2nd Account Email"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=I want you to draft an email reply in a very professional way.\nSome things to know I am right now not open for promotions or collaborations, but I am open for meetings and project discussions as well.\n\nI want you to reply to this email: {{$json.text}}\n\nI want you to draft the reply and give me only the body, I don't want to give me any subject line or anything just give me the body text.\n\nMy name is Chinmay Kaitade.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "726f8c86-61b1-4c84-9ba0-7b2f39862b06",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        496,
        208
      ],
      "id": "f8f4db71-c000-493f-a416-65284a136577",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GsjWF7e36JHG398f",
          "name": "Google Gemini(PaLM) API"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appLnP7gwHf8dr69T",
          "mode": "list",
          "cachedResultName": "Email Reply AI Agents in n8n",
          "cachedResultUrl": "https://airtable.com/appLnP7gwHf8dr69T"
        },
        "table": {
          "__rl": true,
          "value": "tbl2C0SgRRpMKWXTi",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appLnP7gwHf8dr69T/tbl2C0SgRRpMKWXTi"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sender Name": "={{ $('Gmail All Details').item.json.from.value[0].name }}",
            "From Email": "={{ $('Gmail All Details').item.json.to.value[0].address }}",
            "Email Body": "={{ $('Gmail All Details').item.json.text }}",
            "Body Draft Reply": "={{ $json.output }}",
            "Thread ID": "={{ $('Gmail All Details').item.json.threadId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Sender Name",
              "displayName": "Sender Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "From Email",
              "displayName": "From Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Body",
              "displayName": "Email Body",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Body Draft Reply",
              "displayName": "Body Draft Reply",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Thread ID",
              "displayName": "Thread ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        992,
        0
      ],
      "id": "d2a01175-8ac9-4602-a3af-976f62497fc2",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "xaDiCbox4pdi4PYL",
          "name": "Day-10: Email Reply AI Agent"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail All Details').item.json.threadId }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1200,
        0
      ],
      "id": "ab300308-acf8-444f-be44-ba70d21f0408",
      "name": "Mark a message as read",
      "webhookId": "0bdecfde-0eac-4a77-99f5-558aacb7a018",
      "credentials": {
        "gmailOAuth2": {
          "id": "Focm9wSsYgcUAXfe",
          "name": "Day-10: Email Reply AI Agent - 2nd Account Email"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Gmail All Mails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail All Mails": {
      "main": [
        [
          {
            "node": "Gmail All Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail All Details": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9dd15f69-5888-42f7-b6d9-74a04232e474",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e8bf93c393d2fd2b102938e39b35d26d5f6df15c7193642187723a6f7808d93"
  },
  "id": "2UVKCNBtpcYfJxEl",
  "tags": []
}