15Day-Part-1_Embedding-and-Vectors/Day-15_ Portfolio Knowledge Base _ RAG Agents.json
{
  "name": "Day-15: Portfolio Knowledge Base | RAG Agents",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1SnNJqIQueCSQRoMDVOAfcKxa8wfRpUov",
          "mode": "list",
          "cachedResultName": "Portfolio Knowledgebase",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1SnNJqIQueCSQRoMDVOAfcKxa8wfRpUov"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0ca7ad65-047e-4830-8034-65ed114b2dab",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lagdvhXC9X2exZCz",
          "name": "Day-15: Portfolio Knowledgebase RAG Agents"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "16zyI84S-t3HAvXFEs3VRrDqc9IrF34Ya",
          "mode": "list",
          "cachedResultName": "Knowledgebase One.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/16zyI84S-t3HAvXFEs3VRrDqc9IrF34Ya/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "802a7d34-edef-459a-aa14-9d6901d46a8d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lagdvhXC9X2exZCz",
          "name": "Day-15: Portfolio Knowledgebase RAG Agents"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "portfolioairag",
          "mode": "list",
          "cachedResultName": "portfolioairag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        480,
        0
      ],
      "id": "49adc07b-53d7-45af-8b6f-212e2581501f",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "hG5TVLO8kF56Nljf",
          "name": "Day-15: Portfolio Knowledgebase RAG Agents"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        448,
        224
      ],
      "id": "1269ef78-7595-4603-a56d-aa6d28feced1",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "GsjWF7e36JHG398f",
          "name": "Google Gemini(PaLM) API"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $('Download file').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        576,
        224
      ],
      "id": "8ffee9b8-b5de-4cd1-b6d6-36231cfe0984",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        656,
        432
      ],
      "id": "6339f052-f477-4009-959e-4b2bbe8543d1",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6393a57e-ec5f-4f8b-bca9-d72a043006ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e8bf93c393d2fd2b102938e39b35d26d5f6df15c7193642187723a6f7808d93"
  },
  "id": "lJy1pJpPYZiInvHB",
  "tags": []
}