16Day-Building-Voice-AI-Agent/Day-16_ AI Voice Agent Final.json
{
  "name": "Day-16: AI Voice Agent Final",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        0,
        816
      ],
      "id": "8a5d8340-3f96-4528-83ed-7b3a8d04451c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -64,
        1040
      ],
      "id": "71136524-e0f3-45bc-b63a-924c1431c44c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GsjWF7e36JHG398f",
          "name": "Google Gemini(PaLM) API"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        64,
        1040
      ],
      "id": "c5f924cf-200e-42ce-ae9e-dc178b836388",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieves data when the user asks for relevant data about Chinmay Kaitade Portfolio and once the data is retrieved give it in a well structured and simple language in the form of answers.",
        "pineconeIndex": {
          "__rl": true,
          "value": "portfolioairag",
          "mode": "list",
          "cachedResultName": "portfolioairag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        192,
        1040
      ],
      "id": "0f3ea7eb-e63e-4a4e-9d9c-1054f3d0649a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "hG5TVLO8kF56Nljf",
          "name": "Day-15: Portfolio Knowledgebase RAG Agents"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        272,
        1248
      ],
      "id": "4f95e211-c30d-40d0-9550-064a751526b3",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "GsjWF7e36JHG398f",
          "name": "Google Gemini(PaLM) API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "99f6715d-e558-46ef-8d4a-0dfb1fde808d",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        816
      ],
      "id": "847060db-dbe2-40ba-a014-d7c1b9623f45",
      "name": "Webhook",
      "webhookId": "99f6715d-e558-46ef-8d4a-0dfb1fde808d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        464,
        816
      ],
      "id": "a844b36a-95ed-4e86-840b-5475e0b1c22f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1SnNJqIQueCSQRoMDVOAfcKxa8wfRpUov",
          "mode": "list",
          "cachedResultName": "Portfolio Knowledgebase",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1SnNJqIQueCSQRoMDVOAfcKxa8wfRpUov"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        768,
        1024
      ],
      "id": "ab5cbd49-d63a-4a04-8b24-5ae1ecb2bccd",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lagdvhXC9X2exZCz",
          "name": "Day-15: Portfolio Knowledgebase RAG Agents"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "16zyI84S-t3HAvXFEs3VRrDqc9IrF34Ya",
          "mode": "list",
          "cachedResultName": "Knowledgebase One.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/16zyI84S-t3HAvXFEs3VRrDqc9IrF34Ya/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        1024
      ],
      "id": "20926d63-e506-4b14-b86e-aad03082b0fe",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lagdvhXC9X2exZCz",
          "name": "Day-15: Portfolio Knowledgebase RAG Agents"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $('Download file').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1344,
        1040
      ],
      "id": "a468d729-f956-4cb3-baf0-f3fc84b77f90",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1424,
        1248
      ],
      "id": "cb76d205-79fd-432a-9537-7e8fd18bd1fa",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "portfolioairag",
          "mode": "list",
          "cachedResultName": "portfolioairag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1248,
        816
      ],
      "id": "030cf5f4-b8ae-43c7-ad4c-1a15b1d622a2",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "hG5TVLO8kF56Nljf",
          "name": "Day-15: Portfolio Knowledgebase RAG Agents"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1216,
        1040
      ],
      "id": "eeb964c1-f9e8-4392-92c9-918329b82c9b",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "GsjWF7e36JHG398f",
          "name": "Google Gemini(PaLM) API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6f6f1d42-54bb-485a-b410-8645bef17e10",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e8bf93c393d2fd2b102938e39b35d26d5f6df15c7193642187723a6f7808d93"
  },
  "id": "26oUhmxLpvZTOw1H",
  "tags": []
}