09Day-Power-of-Webhooks/Lovable - Power of Webhooks in n8n.json
{
  "name": "Lovable - Power of Webhooks in n8n",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mychatapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "eca4ae0e-d3b0-487b-a881-b65f3fc3ca24",
      "name": "Webhook",
      "webhookId": "8c186cd6-89c6-4099-8edc-f3287ec13d3b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "585bdb2b-c580-4c79-87fa-833f9b15f150",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "13b914d0-7f7f-4f12-b6a8-171aed36e297",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GsjWF7e36JHG398f",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        576,
        0
      ],
      "id": "a999cfd4-7ed3-4891-a510-3bd218eab45d",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "550252ec-746c-4760-ade7-5e4536d5d8af",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e8bf93c393d2fd2b102938e39b35d26d5f6df15c7193642187723a6f7808d93"
  },
  "id": "q0bLpzCIQoZ9L70o",
  "tags": []
}